* {
  box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    height: 100vh;
    background: #FCCB00;
    overflow-y: scroll;
}

/* Header Stuff */
header {
    background-color: #5C9ED9;
    padding: 0.5em;
    text-align: center;
}
header h1 {
    color: #FFFFFF;
}
.headContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: row wrap;
}
#logoContainer {
    width: 10em;
    height: 5em;
}
#logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Top navigation bar */
.navContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #5C9ED9;
    border-style: solid none solid none;
    border-color: #1769B6;
    flex-wrap: wrap;
}
.navContainer a {
    color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20%;
    text-decoration: none;
    text-align: center;
}
.navContainer a:hover {
    background-color: #1769B6;
    color: #FFFFFF;
}
.navContainer .active {
    background-color: #1769B6;
    color: #FFFFFF;
}

/* Banner Stuff */
.bannerContainer {
    width: 100%;
    height: 20vh;
    margin-bottom: 25px;
}
.bannerContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main Content */
.mainContainer {
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.galleryContainer {
    flex: 100%;
    gap: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.galleryContainer div {
    width: 40%;
    height: auto;
    text-align: center;
}
.imgContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.2em 0.3em 0.2em 0.3em;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Adjust Layout depending on screen width */
@media screen and (max-width: 600px) {
    .headContainer {
        align-items: center;
        flex-direction: column;
    }
    .navContainer {
        border-top: #1769B6 solid;
        flex-direction: column;
        align-items: center;
    }
    .navContainer a {
        width: 100%;
    }
    .galleryContainer {
        align-items: center;
        flex-direction: column;
    }
    .galleryContainer div {
        color: #FFFFFF;
        width: 90%;
        height: auto;
        text-align: center;
    }
    .imgContainer {
        border-width: 0.35em 0.35em 0.1em 0.35em;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
    }
}