* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: arial;
}

/* Header Stuff */
header {
  background-color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

/* Top navigation bar */
.navContainer {
  display: flex;
  background-color: #FFFFFF;
}
.navContainer a {
  color: #2b2b2b;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navContainer a:hover {
  background-color: #2b2b2b;
  color: #FFFFFF;
}