* {
  box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    height: 100vh;
    background: #FCCB00;
    overflow-y: scroll;
}

/* Main Area */
main {
    padding: 1em;
    margin: 1em;
    background: #FFFFFF;
}

/* Messages */
.message {
    padding: 1em 0;
}
.message + .message {
    border-top: 1px solid #000000;
}
.msg-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.msg-title {
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

/* New Message */
#newMsgBtn {
    background-color: #5C9ED9;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    font-size: 1.1em;
}
#newMsgBtn:hover {
    background-color: #1769B6;
    margin-bottom: 1em;
    padding: 1em 0.5em;
    font-size: 1.1em;
}
    /* Dialog & Form */
dialog {
    background-color: #CDDF8D;
    border: 0px #CDDF8D solid;
    padding: 2em;
    width: 80vh;
}
dialog form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
dialog label {
    color: #1769B6;
}
dialog input {
    border: 2px solid #1769B6;
    border-radius: 6px;
    float: right;
    width: 70%;
}
dialog input:focus {
    background-color: #5C9ED9;
    color: #FFFFFF;
}
dialog textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1.1em;
    height: 20vh;
    resize: vertical;
}
    /* Buttons */
.btn-row {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 0.5em;
}
button {
    padding: 0.5em 0.8em;
    font-size: 1.1em;
}
#cancelBtn {
    background-color: #5C9ED9;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
}
#cancelBtn:hover {
    background-color: #1769B6;
}
#sendBtn {
    background-color: #5C9ED9;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
}
#sendBtn:hover {
    background-color: #1769B6;
}

/* Header Stuff */
header {
    background-color: #5C9ED9;
    padding: 0.5em;
    text-align: center;
}
header h1 {
    color: #FFFFFF;
}
.headContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: row wrap;
}
#logoContainer {
    width: 10em;
    height: 5em;
}
#logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Top navigation bar */
.navContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #5C9ED9;
    border-color: #1769B6;
    border-style: solid none solid none;
    flex-wrap: wrap;
}
.navContainer a {
    color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20%;
    text-decoration: none;
    text-align: center;
}
.navContainer a:hover {
    background-color: #1769B6;
    color: #FFFFFF;
}
.navContainer .active {
    background-color: #1769B6;
    color: #FFFFFF;
}

/* Adjust Layout depending on screen width */
@media screen and (max-width: 600px) {
  .headContainer, .navContainer {
    align-items: center;
    flex-direction: column;
  }
  .navContainer {
    flex-direction: column;
    align-items: center;
  }
  .navContainer a {
    width: 100%;
    }
}