body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'navigation navigation navigation'
    'banner banner banner'
    'main main main';
  grid-template-columns: 5em 3fr 1.5fr;
  grid-template-rows: 6em 3em 8em auto;

}

/* Header */
#Headcontainer {
    display: grid;
    grid-template-columns: 7em 15em;
    background-color: #FFFFFF;
    gap: 2em;
    border-bottom: #000000;
    border-style: none none solid none;
}
#Headcontainer div {
    color: #000000;
}
header {
    grid-area: header;
    padding-left: 1em;
}
img#logo{
    padding-top: 0.8em;
    height: 4em;
    width: 7em;
}
#headTxt {
    padding-top: 0.4em;
}

/* Navigation */
nav {
    grid-area: navigation;
}
ul#topNavigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
ul#topNavigation li a {
  display: block;

  text-decoration: none;

  padding: 0.93em;
}
ul#topNavigation li a:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.active {
  background-color: #000000;
  color: #FFFFFF;
}

/* Banner */
section {
    grid-area: banner;
    background-color: lightblue;
    padding-top: 2.5em;
    text-align: center;
}

/* Main Section */
main {
    grid-area: main;
    background-color: #FFFFFF;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

}


/* Texts */
@font-face {
  font-family: "Simpsons Font";
  src: url(/fonts/Simpsonfont\ DEMO.otf);
  font-weight: normal;
}
h2 {
    font-family: "Simpsons Font";
    word-spacing: 0.5em;
}
a {
    color: #000000;
    text-decoration: none;
}
p {
    word-spacing: 0.2em;
}