body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'navigation navigation navigation'
    'banner banner banner'
    'main main main';
  grid-template-columns: 5em 3fr 1.5fr;
  grid-template-rows: 6em 3em 14em auto;

}

/* Header */
#Headcontainer {
    display: grid;
    grid-template-columns: 7em 15em;
    background-color: #FFFFFF;
    gap: 2em;
    border-bottom: #000000;
    border-style: none none solid none;
}
#Headcontainer div {
    color: #000000;
}
header {
    grid-area: header;
    padding-left: 1em;
}
img#logo{
    padding-top: 0.8em;
    height: 4em;
    width: 7em;
}
#headTxt {
    padding-top: 0.4em;
}

/* Navigation */
nav {
    grid-area: navigation;
}
ul#topNavigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
ul#topNavigation li a {
  display: block;

  text-decoration: none;

  padding: 0.93em;
}
ul#topNavigation li a:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.active {
  background-color: #000000;
  color: #FFFFFF;
}

/* Banner */
section {
    grid-area: banner;
    background-color: #b1b1b1;
    padding-top: 2.5em;
    text-align: center;
}

/* Main Section */
main {
    grid-area: main;
    background-color: #FFFFFF;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

}
#mainContainer {
    overflow: scroll;
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: repeat(3, 1fr);;
    row-gap: 1em;
    padding-top: 1em;
}
#mainContainer div {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 0.5em;
    height: 20em;
}
#simpsonsHouse {
    background-image: url(/images/locations/simpsons_house.jpg);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
#moesTavern {
    background-image: url(/images/locations/moes_tavern.jpg);
    background-size:  100% 100%;
    background-repeat: no-repeat;
}
#kwikEMart {
    background-image: url(/images/locations/kwik_e_mart.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#school {
    background-image: url(/images/locations/theschool.jpg);
    background-repeat: no-repeat;
    background-size:  100% 100%;
}
#krustyBurger {
    background-image: url(/images/locations/krustyBurger.jpg);
    background-size:  100% 100%;
    background-repeat: no-repeat;
}
#church {
    background-image: url(/images/locations/church.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Texts */
@font-face {
  font-family: "Simpsons Font";
  src: url(/fonts/Simpsonfont\ DEMO.otf);
  font-weight: normal;
}
h2 {
    font-family: "Simpsons Font";
    word-spacing: 0.5em;
}
a {
    color: #000000;
    text-decoration: none;
}
p {
    word-spacing: 0.2em;
}