/* All elements */
* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* Header */
header {
    padding-left: 2em;
    background: #FFFFFF;
    color: #2B2B2B;
}
#headContainer {
    display: flex;
    flex-direction: row;
}
header #logo {
    margin-right: 2em;
    padding-top: 0.6em;
    height: 4em;
    width: auto;
}


/* Top Navigation */
.navbar {
    display: flex;
    background-color: #FFFFFF;
    border: #2B2B2B;
    border-width: 3px;
    border-style: solid none solid none;
}
.navbar a {
    color: #2B2B2B;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #2B2B2B;
    color: #FFFFFF;
}
a.active {
    background-color: #2B2B2B;
    color: #FFFFFF;
}

/* Main Area */
main h2 {
    margin-left: 1em;
}
.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    justify-content: center;
}
#firstRow {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}

.location {
    width: 25em;
    height: 12em;
    margin: 10px;
    border: #2B2B2B;
    border-width: 2px;
    border-style: solid;
}
.location img{
    width: 100%;
    height: 100%;
}

/* Adjust by screen size */
@media screen and (max-width:600px) {
  div.mainContainer {
    flex-direction: column;
    }
}